<h1>Stupid Coaching</h1>
<hr>
<div class="question">
  <h3 class="content"><%= @question %></h3>
  <h4 class="content">-<em>You</em></h4>
</div>
<div class="answer">
  <h3 class="content"><%= @answer %></h3>
  <h4 class="content">-<em>Your Coach</em></h4>
</div>

<%= link_to "Ask a new Question", ask_path %>
